.submitButton {
  border-radius: 7px;
  border: none;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.submitButton:hover{
  background-color: rgb(220,220,220);
}

.formContainer {
  display: flex;
  justify-content: center;
}

.formInput {
  position: relative;
  margin-right: 15px;
  height: 30px;
  border-radius: 7px;
  border: none;
  padding: 5px;
}

.formInput:focus {
  box-shadow: 2px 1px 2px 1px rgba(105,105,105, 0.7);
  border-radius: 7px;
  outline: none;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
